<template>
  <div>
    <nav class="navbar" aria-label="main navigation">
      <div class="navbar-brand container">
        <span class="title">Workshop Maratá</span>
      </div>
    </nav>


    <div id="app" class="container">

      <div class="columns">

        <div class="column is-three-quarters">
          <b-field label="Buscar na tabela" class="database-search">
            <b-input rounded v-model="searchFieldText"
                     placeholder="Busque por workshop, data, hora, participante, responsável..."></b-input>
          </b-field>
        </div>

        <div class="columns" style="margin-top: 80px;">
          <strong>{{filteredDataTable.length}} resultados encontrados</strong>
        </div>

      </div>

      <div id="table_container">
        <b-table
          :data="filteredDataTable"
          detailed
          :paginated="true"
          :per-page="10"
          :opened-detailed="defaultOpenedDetails"
          detail-key="nome">

          <template slot-scope="props">

            <b-table-column field="nome" label="Nome do Workshop" width="300">
              {{props.row.nome}}
            </b-table-column>

            <b-table-column field="data" label="Responsável(is)">
              {{props.row.analistas}}
            </b-table-column>

            <b-table-column field="data" label="Data" width="100">
              {{props.row.data}}
            </b-table-column>

            <b-table-column field="hora" label="Horário">
              {{(props.row.hora)}}
            </b-table-column>

            <b-table-column field="duracao" label="Duração">
              {{(props.row.duracao)}}
            </b-table-column>

            <b-table-column field="local" label="Local">
              {{props.row.local}}
            </b-table-column>

          </template>

          <template slot="detail" slot-scope="props">
            <div class="container">
              <!--strong>
                <dt>Objetivo da sessão:</dt>
              </strong>
              <dd>{{props.row.objetivo}}</dd>
              <br/>
              <strong>
                <dt>Conteúdo da sessão:</dt>
              </strong>
              <dd>{{props.row.conteudo}}</dd>
              <br/>
              <strong>
                <dt>Informações:</dt>
              </strong>
              <dd>{{props.row.informacoes}}</dd>
              <br/-->
              <strong>
                <dt>Participantes:</dt>
              </strong>
              <span> {{replaceAll(props.row.participantes,';', ', ' )}}</span>
              <br/>
            </div>
          </template>
        </b-table>

      </div>
    </div>

    <footer class="footer">
      <strong>
        © 2018 <a target="_blank" href="http://www.marata.com.br">Maratá</a>. Todos os direitos reservados.
      </strong>
      <br/>
      <span>versão 1.22</span>

      <!-- 1.1 = 04/06/2018 -->
      <!-- 1.2 = 12/06/2018 -->
      <!-- 1.3 = 13/06/2018 -->
      <!-- 1.4 = 14/06/2018 ROLLBACK 16 -->
      <!-- 1.4 = 18/06/2018 -->
      <!-- 1.5 = 20/06/2018 -->
      <!-- 1.6 = 26/06/2018 -->
      <!-- 1.7 = 26/06/2018 -->
      <!-- 1.8 = 27/06/2018 -->
      <!-- 1.9 = 02/07/2018 -->
      <!-- 1.10 = 03/07/2018 -->
      <!-- 1.11 = 09/07/2018 -->
      <!-- 1.12 = 11/07/2018 -->
      <!-- 1.13 = 11/07/2018 -->
      <!-- 1.14 = 23/07/2018 -->
      <!-- 1.15 = 24/07/2018 -->
      <!-- 1.16 = 25/07/2018 -->
      <!-- 1.17 = 25/07/2018 -->
      <!-- 1.18 = 26/07/2018 -->
      <!-- 1.19 = 30/07/2018 -->
      <!-- 1.20 = 31/07/2018 -->
      <!-- 1.21 = 02/07/2018 -->
      <!-- 1.22 = 02/07/2018 -->

    </footer>

  </div>

</template>

<script>
  import horariosJson from '../assets/horarios.json'

  export default {
    name: 'Cronograma',
    data() {
      return {
        defaultOpenedDetails: ['OTC - Clientes BP'],
        searchFieldText: '',
        data: horariosJson,
      }
    },

    methods: {
      applySearch: function (item) {

        const query = this.searchFieldText.trim().toLowerCase();

        if (!item.local || !item.nome || !item.duracao || !item.data || !item.hora
          || !item.analistas || !item.participantes) {
          console.log('Há um erro no item: ' + item.nome);
          return
        }

        const local = item.local.toLowerCase();
        const nome = item.nome.toLowerCase();
        const duracao = item.duracao.toLowerCase();
        const data = item.data.toLowerCase();
        const hora = item.hora.toLowerCase();
        const analistas = item.analistas.toLowerCase();
        const participantes = item.participantes.toLowerCase();


        return (
          local.includes(query) ||
          nome.includes(query) ||
          duracao.includes(query) ||
          data.includes(query) ||
          hora.includes(query) ||
          analistas.includes(query) ||
          participantes.includes(query))
      },

      replaceAll: function (str, find, replace) {
        return str.replace(new RegExp(find, 'g'), replace)
      }
    },

    computed: {
      filteredDataTable: function () {
        let r = [];
        for (let i = 0; i < this.data.length; i++) {
          let current = this.data[i];
          if (this.applySearch(current)) {
            r.push(current)
          }
        }
        return r
      }
    }
  }

</script>

<style scoped>

  .title {
    color: #FFF !important;
    padding: 4px;
  }

  nav {
    background-color: #254720;
    padding: 24px;
  }

  .database-search {
    padding-left: 32px;
    padding-right: 32px;
    text-align: start;
    margin-top: 32px;
  }

  #table_container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

</style>
